# O seguinte permitirá que você use URLs como os seguintes:
#
#   example.com/link
#   example.com/link/
#
# Que realmente servirá arquivos como os seguintes:
#
#   example.com/link.html
#   example.com/link.php
#
# Mas *somente se eles existirem*, caso contrário, ele relatará o erro 404 usual.

Opções +FollowSymLinks
RewriteEngine On

# Remova as barras à direita.
# por exemplo, example.com/foo/ redirecionará para example.com/foo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [R=permanente,QSA]

# Redirecione para HTML se ele existir.
# por exemplo, example.com/foo exibirá o conteúdo de example.com/foo.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirecione para PHP se ele existir.
# por exemplo, example.com/foo exibirá o conteúdo de example.com/foo.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
