* {
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #ffffff;
    width: 100%;

    
}

/*Barra de Navegação*/

#menu-btn-edit {
    border-radius: 10px;
    margin:10px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    visibility: hidden;
}

#img-btn{
    margin: 5px;
    width: 25px;
    height: 20px;
    border: none;
}

/*NAVBAR TOTAL*/

.menu {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 6;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-top: 0px;
    box-shadow: rgb(75, 75, 75) 0px 2px 8px 0px;
}

.menu ul {
    position: relative;
    list-style: none;
    margin-left: 100px;
    margin-top: 15px;
    width: 100%;
    display: block;
}

.menu ul li{
    float: left;
    width: 150px;
    text-align: center;
}

.menu a{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
    transition: (0.5s);
}

.menu a:hover{
    color: (231, 81, 231);
    border: solid #7fbac2;
    border-radius: 20px;
}

.menu a:active{
    transform: scale(0.10);
}

#logo_ui{
    position: absolute;
    width: 60px;
    margin-left: 30px;

}







/*NAVBAR MOBILE*/

.mobile-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-top: 5px;
    box-shadow: rgb(75, 75, 75) 0px 2px 8px 0px;
    visibility: hidden;
}

.mobile-bar ul {
    position: relative;
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;
    width: 100%;
    display: block;
}

.mobile-bar ul li{
    float: left;
    width: 150px;
    text-align: center;
}

.mobile-bar a{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
    transition: (0.5s);
}

.mobile-bar a:hover{
    color: (231, 81, 231);
    border: solid rgb(231, 205, 255);
    border-radius: 20px;
}

.mobile-bar a:active{
    transform: scale(0.10);
}

#logo_ui2{
    position: absolute;
    width: 50px;
    margin-left: 30px;

}


/*Whatsapp button*/

.whatsapp_button{
    position: fixed;
    display: block;
    margin-right: auto;
    margin-left: 10px;
    bottom: 5px;
    width: 15%;
    transition: 0.5s;
    z-index: 3;

}

.whatsapp_button:active{
    transform: scale(0.8);
}

#whatsapp-image{
    width: 50px;
}


/* banner */

.banner {
    margin-top: 0px;
    background: url(imagens/slideshow/3.png);
    width: 100%;
    background-size: 1350px;
    height: 700px;
    border-radius: 0px;
    filter: brightness(35%);
      
}

#logo {
    position: relative;
    width: 500px;
    margin-top: -650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation-name: imagem_home1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 3;
}

@keyframes imagem_home1{
    0%{
        top: 15px;
    }

    100%{
        top: 25px
    }
}

.section_setaBaixo{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 50px;
}

div.setaBaixo{
    width: 40px;
    height: 40px;
    background-image: url("imagens/seta_baixo.png");
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    animation-name: setaBaixo;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaBaixo{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
}



/*INTRODUÇÃO*/

.introdução h1{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
    font-style: oblique;
    display: block;
    color: #4d2910;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border: solid #4d2910;
    width: 70%;
    border-radius: 20px;
}

/*horário*/

.img_horário {
    width: 450px;
    border-radius: 10px;
    position: absolute;
    margin-left: 60%;
    margin-top: 10%;
    margin-right: auto;
    transition: 0.5s;
    box-shadow: #949494 5px 5px 30px 5px;

}

.img_horário:hover{
    transform: scale(1.1);
}

.seja_bem_vindo h1{
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    color: #4d2910;
    font-size: 50px;
    text-align: center;
}

.seja_bem_vindo p{
    
    color: #000000;
    font-size: 20px;
    text-align: center;
    width: 40%;
    position: absolute;
    margin-left: 80px;
    margin-top: 380px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seja_bem_vindo a{
    position: absolute;
    margin-top: 500px;
    margin-left: 250px;
    padding-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 16%;
    color: #ffffff;
    background-color: #4d2910;
    border-radius: 10px;
    font-size: 40px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    
}

.seja_bem_vindo a:hover{
    transform: scale(1.1);
}



/*Quem somos*/

.quem_somos {
    position: absolute;
    margin-left: auto;
    margin-top: 700px;
    width: 100%;
    background-color: #7fbac2;
    height: 550px;
    border-radius: 40px;
}

.quem_somos h1{
    margin-top: 30px;
    padding: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2910;

}

.quem_somos p{
    margin-top: -80px;
    margin-left: 0;
    margin-right: auto;
    display: block;
    padding: 60px;
    position: relative;
    font-size: 20px;
    color: #000000;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.foto1 {
    position: relative;
    width: 400px;
    padding: 15px;
    margin-top: -360px;
    margin-left: 120vh;
    display: block;
    border-radius: 40px;
    border: #4d2910 solid 2px ;
}




/* PROMOÇÕES */

#promoções {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}

#kits {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}

#produtos {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}

/*footer*/

.footer {
    position: absolute;
    margin-top: 1500px;
    width: 100%;
    background-color: #7fbac2;
    height: 400px;
}

.footer ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 10px;
    padding: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2910;
    height: 100px;

}

#ul1 li{
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    list-style-type: none;
    margin-top: 15px;
    margin-left: 40px;
}

#ul2 li{
    color: #ffffff;
    text-align: left;  
    font-size: 18px;
    list-style-type: none;
    margin-left: 40px;
    margin-top: 2px;
}

#whatsapp{
    position: absolute;
    width: 30px;
    margin-top: 55px;
    margin-left: -140px;
}

#instagram {
    position: absolute;
    width: 25px;
    margin-top: 15px;
    margin-left: 1px;
}

#facebook {
    position: absolute;
    width: 25px;
    margin-top: 15px;
    margin-left: 1px;
}

#local {
    position: absolute;
    width: 40px;
    margin-top: 50px;
    margin-left: -102px;
}


/*CONTATO HTML*/



.contato_conteudo{
    top: 0px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 205, 255);
}

#contato_ul1{
    color: rgb(100, 100, 255);
    text-align: center;
    font-size: 100px;
    list-style-type: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contato_ul1 li{
    color: rgb(78, 78, 78);
    text-align: center;
    font-size: 40px;
    list-style-type: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/*responsividade*/

@media (max-width: 1018px) {

    .open{
        left: 0;
    }

    #logo {
        width: 350px;
    }

    /*NAVBAR*/

    .menu{
        visibility: hidden;
    }

    #menu-btn-edit {
        visibility: visible;
    }

    #menu-btn-edit:active{
        transform: scale(0.7);
        transition: 0.2s;
    }

    .menu-btn{
        display: block;
        position: fixed;
        z-index: 10;
    }

    #logo_ui2{
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        width: 50px;
    }

    .mobile-bar{
        position: fixed;
        margin-top: 80px;
        height: 70%;
        left: -100%;
        transition: 0.5s;
        z-index: 7;
        box-shadow: none;
        border-radius: 40px;
        background-color: white;
        visibility: visible;
    }

    .mobile-bar ul{
        position: absolute;
        padding-top: 5px;
        margin-top: 20px;
        margin: 0;;
        transition: 0.5s; 
    }

    .mobile-bar ul li{
        width: 100%;
        height: 50px;
    }

    .mobile-bar ul li:hover{
        background-color: none;
    }

    .mobile-bar a{
        text-align: center;
        
    }

    /*Responsividade banner*/

    .banner {
        border-radius: 0px;
    }

    .img_1{
        width: 100%;
        height: 100%;
        margin-top: -550px;
        filter: brightness(50%);
        z-index: 2;
    }

    /*Frase*/

    .introdução h1{
        font-size: 40px;
        margin-top: -200px;
    }

    /* responsividade bem vindo*/



    .img_horário {
        width: 300px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 100px;
        box-shadow: #949494 0px 2px 15px 4px;
    }
        
        
    .seja_bem_vindo h1{
        width: 80%;
        font-size: 35px;
        margin-top: 50px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
        
    .seja_bem_vindo p{
        width: 80%;
        font-size: 20px;
        margin-top: 50px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .seja_bem_vindo a{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 60px;
        width: 40%;
        padding: 10px;
        text-align: center;
        font-size: 35px;
        
    }

        
    


    /* responsividade Quem somos*/

    .quem_somos {
        margin-top: 100px;
        width: 100%;
        height: 800px;
    }
    
    .quem_somos h1{
        text-align: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 40px;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0px;
    
    }
    
    .quem_somos p{
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        width: 80%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 15px;
    }
    
    .foto1 {
        width: 250px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 50px;
        
    }

    /*FOOTER RESPONSIVO*/

    .footer{
        top: 1700px;
    }

    .footer ul{
        font-size: 40px;
    }

    #ul1 li{
        font-size: 14px;
    }

    #ul2 li{
        font-size: 14px;
    }

    /*CONTATO HTML RESPONSIVIDADE*/

    .contato_conteudo{
        height: 50%;
        margin-top: 30%;
        border-radius: 40px;
        box-shadow: black 0px 2px 10px 0px;
    }
    
    #contato_ul1{
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 0;
        font-size: 60px;
    }
    
    #contato_ul1 li{
        font-size: 18px;
    }
    

   

}

