* {
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #f5eded;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

.em_desenvolvimento{
    text-align: center;
    padding-top: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px ;
}

.em_desenvolvimento h1{
    background-color: #949494;
    color: #ffffff;
}




/*Barra de Navegação*/

#menu-btn-edit {
    border-radius: 10px;
    margin:10px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    visibility: hidden;
}

#img-btn{
    margin: 5px;
    width: 25px;
    height: 20px;
    border: none;
}

/*NAVBAR TOTAL*/

.menu {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 6;
    background-color: #ffffff;
    top: 0px;
    margin-top: 0px;
    
}

.menu ul {
    position: relative;
    list-style: none;
    margin-left: 100px;
    margin-top: 10px;
    width: 100%;
    display: block;
}

.menu ul li{
    float: left;
    width: 150px;
    text-align: center;
}

.menu a{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
    transition: (0.5s);
}

.menu a:hover{
    color: (231, 81, 231);
    border: solid #4d2910;
    border-radius: 20px;
}

.menu a:active{
    transform: scale(0.10);
}

#logo_ui{
    position: absolute;
    width: 50px;
    margin-left: 30px;

}







/*NAVBAR MOBILE*/

.mobile-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-top: 5px;
    box-shadow: rgb(75, 75, 75) 0px 2px 8px 0px;
    visibility: hidden;
}

.mobile-bar ul {
    position: relative;
    list-style: none;
    margin-left: 80px;
    margin-top: 10px;
    width: 100%;
    display: block;
}

.mobile-bar ul li{
    float: left;
    width: 150px;
    text-align: center;
}

.mobile-bar a{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
    transition: (0.5s);
}

.mobile-bar a:hover{
    color: (231, 81, 231);
    border: solid rgb(231, 205, 255);
    border-radius: 20px;
}

.mobile-bar a:active{
    transform: scale(0.10);
}

#logo_ui2{
    position: absolute;
    width: 50px;
    margin-left: 30px;

}

#em_desenvolvimento{
    color: black;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    margin-top: 25%;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #949494;
}

/*Whatsapp button*/

.whatsapp_button{
    position: fixed;
    display: block;
    margin-right: auto;
    margin-left: 10px;
    bottom: 5px;
    width: 0%;
    transition: 0.5s;
    z-index: 4;

}

.whatsapp_button:active{
    transform: scale(0.8);
}

#whatsapp-image{
    width: 50px;
}


/* Header index */

.slideshow-container {
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    top: -600px;
  }
  
  .slideshow-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
  }
  
  .slideshow-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.6s ease;
    padding: 30px;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    scale: 0.8;
  }
  
  .active {
    opacity: 1;
  }
  

.banner {
    margin-top: 0px;
    background: url(imagens/slideshow/3.png);
    width: 100%;
    background-size: 1350px;
    height: 700px;
    border-radius: 0px;
    filter: brightness(35%);
    visibility: hidden;
     
}

#logo {
    position: relative;
    width: 500px;
    margin-top: -650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation-name: imagem_home1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 3;
    visibility: hidden;
}

@keyframes imagem_home1{
    0%{
        top: 15px;
    }

    100%{
        top: 25px
    }
}

.section_setaBaixo{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 50px;
    visibility: hidden;
}

div.setaBaixo{
    width: 40px;
    height: 40px;
    background-image: url("imagens/seta_baixo.png");
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;


    animation-name: setaBaixo;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaBaixo{
    0%{
        top: 0px;
    }
    100%{
        top: 20px;
    }
}



/*INTRODUÇÃO*/

.introdução h1{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1100px;
    font-style: oblique;
    display: block;
    color: #4d2910;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border: solid #4d2910;
    width: 90%;
    border-radius: 20px;  
}



.seja_bem_vindo h1{
    margin-top: 100px;
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    color: #4d2910;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}


.seja_bem_vindo p{

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.saibamais_botão{
    margin-top: 50px;
    transition: 0.5s;  
}

.seja_bem_vindo a{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #4d2910;
    border-radius: 10px;
    font-size: 35px;
    text-decoration: none;
    text-align: center;    
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    transition: 0.5s;
    width: 15%;
}

.seja_bem_vindo a:hover{
    transform: scale(1.1);
}





/*Quem somos*/

.quem_somos img{
    width: 300px;
    float: right;
}

.imagem_quemsomos{
    position: relative;
    padding: 20px;
    border-radius: 40px;
    border: #ffffff solid 2px;
    top: -350px; 
    margin-right: 100px;
}

.quem_somos {
    position: relative;
    margin-top: 10px;
    width: 100%;
    background-color: #66a1a8;
    height: 500px;
}

.quem_somos h1{
    width: 50%;
    margin-top: 30px;
    padding: 60px;
    font-size: 60px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;

}

.quem_somos p{
    margin-top: -80px;
    padding: 60px;
    font-size: 20px;
    color: #ffffff;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*horário*/

.img_horário_div{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    
}

.img_horário_div2{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    margin-top: -140px;
}

.img_horário {
    display: flex;
    position: relative;
    width: 400px;
    border-radius: 40%;
    border: solid #4d2910;
    padding: 10px;
    position: relative;
    transition: 0.2s;    
}

.img_horário:hover{
    transition: 0.2s;
    transform: scale(1.1);
    
}



/*PROMOÇÕES HTML*/

.promo-design {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  
  .promo-image {
    width: 50%;
    max-width: 500px;
    margin-right: 50px;
  }
  
  .promo-image img {
    width: 100%;
    height: auto;
  }
  
  .promo-details {
    width: 50%;
    max-width: 500px;
  }
  
  .promo-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .promo-description {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .promo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #559aa3;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .promo-button:hover {
    background-color: #194c64;
  }

/*PRODUTOS HTML*/

.titulo_produtos{
    margin-top: 120px;
    display: block;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2910;
    height: 100px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .item {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
  }
  
  .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #331b0b;
  }
  
  .item p {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }



/* PROMOÇÕES */

#promoções {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}



#kits {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}

#produtos {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 255);
    font-size: 100px;

}

/*footer*/

.footer {
    position: absolute;
    margin-top: 90px;
    width: 100%;
    background-color: #ebebeb;
    height: 550px;
    text-decoration: none;
    text-align: center;
}

.footer h1{
    margin-top: 80px;
    display: block;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2910;
    height: 100px;
    text-align: center;
    
}

.footer h2{
    margin-top: 5px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #331b0b;
    height: 100px;
    text-align: center;
}

.botoes-redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  .botoes-redes-sociais a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
  }

  /*BOTÃO FACEBOOK FOOTER*/
  
  .botao-facebook {
    background-color: #ffffff;
    transition: 0.2s;
  }

  .botao-facebook:hover{
      background-color: #559aa3;
  }

  .botao-facebook img{
      width: 40px;
  }
  
  /*BOTÃO WHATSAPP FOOTER*/

  .botao-whatsapp {
    background-color: #ffffff;
    transition: 0.2s;
  }

  .botao-whatsapp:hover{
    background-color: #559aa3;
  }

  .botao-whatsapp img{
    width: 40px;
  }

  /*BOTÃO INSTAGRAM FOOTER*/
  
  .botao-instagram {
    background-color: #ffffff;
    transition: 0.2s;
  }

  .botao-instagram:hover{
    background-color: #559aa3;
  }
  
  .botao-instagram img{
      width: 40px;
  }
  
#local {
    position: absolute;
    width: 40px;
    margin-top: 50px;
    margin-left: -330px;
}

  



/*KITS HTML*/

.titulos_kits{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #437880;
    font-size: 60px;
    margin-top: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/*.kits_designer{
    visibility: visible;
}

.kits_designer div{
    background-color: #7fbac2;
    width: 70%;
    height: 200px;
    border-radius: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
    padding: 40px;
    
}

.kits_designer div p{
    color: #0f444d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50%;
    font-size: 45px;
    margin-top: 10px;
    text-align: center;

}*/

.gallery_kits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    
    }
  
  .item_kits {
    width: 300px;
    margin: 20px;
    padding: 10px;
    /*border: 2px solid #7fbac2;*/
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    background-color: white;
  }
  
  .item_kits img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .item_kits h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #437880;
    }
  
  .item_kits p {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4d2910;
  }

  .item_kits h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4d2910;
  }

  .item_kits h2{
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #af510d;
  }





/*CONTATO HTML*/



.contato_conteudo{
    top: 0px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 100%; 
    
}

#contato_ul1{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 53%;
    width: 0%;
}

#contato_ul1 li{
    visibility: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    list-style-type: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#contato_whatsapp{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top: 30px;
    transition: 0.5s;
}

#contato_whatsapp:hover{
    transform: scale(1.1);
}

#contato_instagram{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top: 60px;
    transition: 0.5s;
}

#contato_instagram:hover{
    transform: scale(1.1);
}

#contato_facebook{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top: 50px;
    transition: 0.5s;
}

#contato_facebook:hover{
    transform: scale(1.1);
}

.contato_conteudo h1{
    color: #4d2910;
    text-align: center;
    font-size: 100px;
    list-style-type: none;
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contato_conteudo h2{
    text-align: center;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4d2910;
    font-size: 20px;
    padding: 80px;
}

.mapa {
    position: relative;
    width: 100%;
    height: 500px;
    top: 1250px;
    border: 0;
    background-color: #4d2910;
    padding-top: 40px;
  }
  
.mapa iframe {
    width: 100%;
    border: 0;  
}


/*responsividade*/


@media (max-width: 1018px) {

    .open{
        left: 0;
    }

    #logo {
        width: 350px;
    }

    /*NAVBAR*/

    .menu{
        visibility: hidden;
        
    }

    #menu-btn-edit {
        visibility: visible;
        position: fixed;
        padding: 0;
        z-index: 3;
        top: 0px;
    }

    #menu-btn-edit:active{
        transform: scale(0.7);
        transition: 0.2s;
    }

    .menu-btn{
        display: block;
        position: fixed;
        z-index: 10;
    }

    #logo_ui2{
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        width: 50px;
    }

    .mobile-bar{
        position: fixed;
        margin-top: 80px;
        height: 70%;
        left: -100%;
        transition: 0.5s;
        z-index: 7;
        box-shadow: none;
        border-radius: 40px;
        background-color: white;
        visibility: visible;
    }

    .mobile-bar ul{
        position: absolute;
        padding-top: 5px;
        margin-top: 20px;
        margin: 0;;
        transition: 0.5s; 
    }

    .mobile-bar ul li{
        width: 100%;
        height: 50px;
    }

    .mobile-bar ul li:hover{
        background-color: none;
    }

    .mobile-bar a{
        text-align: center;
        
    }

    /*EM DESENVOLVIMENTO*/
    
    .em_desenvolvimento h1{
        font-size: 35px;
    }

    /*Frase responsividade*/

    .introdução h1{
        margin-top: -500px;
        font-size: 30px;
    
    }

    /*Responsividade banner*/

    .banner {
        border-radius: 0px;
        visibility: visible;
    }

    #logo {
        visibility: visible;
    }

    .section_setaBaixo{
        visibility: visible;
    }

    .setaBaixo{
        visibility: visible;
    }

    .slideshow-container{
        visibility: hidden;
    }

    .prev, .next{
        visibility: hidden;
    }



    .img_1{
        width: 100%;
        height: 100%;
        margin-top: -550px;
        filter: brightness(50%);
        z-index: 2;
    }


    /* responsividade bem vindo*/

    
    .img_horário_div2{
        margin-top: 80px;
    }

    .img_horário {
        width: 300px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 100px;
        
    }
        
        
    .seja_bem_vindo h1{
        width: 80%;
        font-size: 35px;
        margin-top: 100px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
        
    .seja_bem_vindo p{
        width: 80%;
        font-size: 20px;
        margin-top: 50px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .saibamais_botão a{
        width: 50%;
    }

        
    


    /* responsividade Quem somos*/

    .quem_somos {
        margin-top: 100px;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .quem_somos h1{
        text-align: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 40px;
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0px;
    
    }
    
    .quem_somos p{
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        width: 80%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 15px;
    }

    .quem_somos img{
        width: 280px;
    }
    
    .imagem_quemsomos {
        float: none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        top: 10px; 
        max-width: 100%;
        margin-top: 20px;
        
    }

    .foto1 { 
        width: 250px;
    }

    /*FOOTER RESPONSIVO*/

    .footer h1{
        margin-top: 60px;
        font-size: 38px;
    }

    .footer h2{
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    




    /*KITS HTML RESPONSIVIDADE*/

    .titulos_kits{
        font-size: 40px;
    }

    .kits_designer div p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 30px;
    }


    /*CONTATO HTML RESPONSIVIDADE*/

    .contato_conteudo{
        position: relative;
    }

    .contato_conteudo ul a{
        width: 10%;
        left: -20px;
        position: relative;
        display: block;
    }
    

    #contato_whatsapp{
        margin-top: 50px;
        width:80px;
    }

    #contato_instagram{
        width: 80px;
    }

    #contato_facebook{
        width: 80px;
    }

    .contato_conteudo h1{
        margin-left: 10px;
        font-size: 60px;
    }

    .contato_conteudo h2{
        position: relative;
        width: 300px;
        margin-left: 10px;
        font-size: 18px;
    }
    
    .mapa {
        position: relative;
        width: 100%;
        height: 500px;
        top: 150px;
        border: 0;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: none;
      }
      
    .mapa iframe {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: 0;
        overflow-x: hidden;
        width: 90%;
    }

   

}

